body {
    height: 100vh;
    background-image: url('../../src/img/pere-noel-mobile.jpg'); // a changer pour une image mobile
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'source-sans-pro', sans-serif;
    font-size: 1.1rem;
    &.delivery_sent {
        flex-direction: column;
        form {
            display: none;
        }
        div.sent {
            display: flex;
        }
        a {
            background-color: $pink;
            display: block;
            color: white;
            font-size: 2rem;
            margin-top: 2rem;
            padding: 0.75rem 1rem;
            border-radius: 5px;
        }
    }   
}

div.sent {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: rgba($color: #fff, $alpha: 0.5);
    border-radius: 15px;
    border: 1px solid $grey;
    width: 80%;
    svg {
        fill: $pink;
    }
}

svg.hidden, a {
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    color: $grey;
    border: 1px solid $light_grey;
    margin-bottom: 2rem;
    padding: 1.15rem 0.75rem;
    font-size: 1.25rem;
}

button {
    background-color: $pink;
    border: none;
    display: flex;
    justify-content: space-around;
    padding: .75rem 1rem;
    align-items: center;
    color: white;
    width: 80%;
    border-radius: 5px;
    font-size: 1.15em;
}

svg {
    fill: #ffffff;
}




@media all and (min-width : 480PX) {
    
    input {
        padding: 1.5rem 1rem;
        font-size: 1.55rem;
    }
    div.sent {
        width: 50%;
    }
}

@media all and (min-width : 768px) {
    body {
        background-image: url('../../src/img/pere-noel.jpg'); // a changer pour une image mobile
    }
    form {
        flex-direction: row;
        height: 5rem;
    }
    input {
        margin-bottom: 0;
        margin-right: 2rem;
        width: 60%;
        height: 100%;
        font-size: 2rem;
    }
    button {
        width: 45%;
        height: 100%;
    }
    div.sent {
        width: 450px;
    }
}