.delivery_sent {
    background-color: green;
}

body {
    height: 100vh;
    background-image: url('/src/img/pere-noel-cool.png');
    background-size: cover;
    background-position: center center;
}
